<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Plan Easy</display-name>
  <servlet>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>com.planeasy.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>forgotPasswordServlet</servlet-name>
    <servlet-class>com.planeasy.ForgotPasswordServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>verifyServlet</servlet-name>
    <servlet-class>com.planeasy.VerifyRegisteredEmailHashServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>changePasswordServlet</servlet-name>
    <servlet-class>com.planeasy.ChangePasswordServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>registerServlet</servlet-name>
    <servlet-class>com.planeasy.RegistrationServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>taskHomeServlet</servlet-name>
    <servlet-class>com.planeasy.TaskHomeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>logoutServlet</servlet-name>
    <servlet-class>com.planeasy.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>forgotPasswordServlet</servlet-name>
    <url-pattern>/forgotServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>verifyServlet</servlet-name>
    <url-pattern>/verifyServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>changePasswordServlet</servlet-name>
    <url-pattern>/changeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>registerServlet</servlet-name>
    <url-pattern>/registerServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>taskHomeServlet</servlet-name>
    <url-pattern>/taskHomeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>logoutServlet</servlet-name>
    <url-pattern>/logoutServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>login.html</welcome-file>
    <welcome-file>login.htm</welcome-file>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
</web-app>